@import "vars.scss";

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

section.content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.login {
    background: $white;
    border-radius: 10px;
    padding: 25px 60px;
    text-align: center;
    width: 230px;
    p.title {
        @include content($font_md, $main);
        margin: 0px;
        margin-bottom: 35px;
        font-weight: 500;
    }
    .form-group {
        text-align: left;
        & + .form-group {
            margin-top: 15px;
        }
        label,
        input,
        button {
            font-size: $font_xsm;
            font-family: $primary_font;
        }
        input,
        button {
            border-radius: 5px;
            height: 35px;
        }
        input {
            border: 1px solid $main;
            width: calc(100% - 12px);
            padding: 0px 5px;
        }
        label {
            color: $main;
            font-size: $font_xsm;
            font-family: $primary_font;
        }
        button {
            background: $main;
            color: $white;
            border: 0px;
            margin-top: 25px;
            width: 100%;
            position: relative;
        }
    } 
    .login-error {
        font-size: 14px;
        font-family: $primary_font;
        color: rgb(240, 101, 101);
        opacity: 0;
        margin: 0px;
        margin-top: 15px;
    }
}

.smooth-spinner {
    display: none;
    &::after {
        content: "";
        box-sizing: border-box;
        width: 25px;
        height: 25px;
        position: absolute;
        top: calc(50% - 12.5px);
        left: calc(50% - 12.5px);
        border-radius: 50%;
        border-top: 4px solid rgba(255, 255, 255, 1);
        border-left: 4px solid rgba(255, 255, 255, 1);
        border-right: 4px solid rgba(255, 255, 255, 0);
        animation: spinner 0.6s linear infinite;
    }
}
