@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
body {
  margin: 0;
  background: #EFF0F3; }

section.content {
  margin-top: 95px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  height: calc(100vh - 195px); }
